<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.moyu.myadmin.dao.mapper.SysOrgMapper">
    <!-- 可根据自己的需求，是否要使用 -->
    <resultMap type="com.moyu.myadmin.dao.entity.SysOrgEntity" id="sysOrgMap">
        <!--@mbg.generated-->
        <!--@Table sys_org-->
        <result property="orgId" column="org_id"/>
        <result property="orgCode" column="org_code"/>
        <result property="orgName" column="org_name"/>
        <result property="parentId" column="parent_id"/>
        <result property="sortIndex" column="sort_index"/>
        <result property="state" column="state"/>
        <result property="createDate" column="create_date"/>
        <result property="createBy" column="create_by"/>
        <result property="updateDate" column="update_date"/>
        <result property="updateBy" column="update_by"/>
        <result property="rowVersion" column="row_version"/>
        <result property="delFlag" column="del_flag"/>
    </resultMap>

    <select id="queryListPage" resultType="com.moyu.myadmin.dao.entity.SysOrgEntity">
        select org_id, org_code, org_name, parent_id, sort_index,
        state, create_date, create_by, update_date, update_by, row_version, del_flag
        from sys_org
        <where>
            del_flag = 0
        </where>
        order by sort_index
    </select>
</mapper>