<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.moyu.myadmin.mapper.SysUserMapper">
  <resultMap id="BaseResultMap" type="com.moyu.myadmin.entity.SysUserEntity">
    <!--@mbg.generated-->
    <!--@Table sys_user-->
    <id column="user_id" jdbcType="VARCHAR" property="userId" />
    <result column="username" jdbcType="VARCHAR" property="username" />
    <result column="password" jdbcType="VARCHAR" property="password" />
    <result column="email" jdbcType="VARCHAR" property="email" />
    <result column="phone_num" jdbcType="VARCHAR" property="phoneNum" />
    <result column="user_code" jdbcType="VARCHAR" property="userCode" />
    <result column="birthday" jdbcType="DATE" property="birthday" />
    <result column="id_card" jdbcType="VARCHAR" property="idCard" />
    <result column="nationality" jdbcType="VARCHAR" property="nationality" />
    <result column="name" jdbcType="VARCHAR" property="name"/>
    <result column="state" jdbcType="VARCHAR" property="state"/>
  </resultMap>

  <select id="queryListPage" resultMap="BaseResultMap">
    select *
    from sys_user
    <where>
      del_flag = 0
      <if test="dto.userCode != null and dto.userCode != ''">
        and user_code like '%' || #{dto.userCode,jdbcType=VARCHAR} || '%'
      </if>
      <if test="dto.name != null and dto.name != ''">
        and name like '%' || #{dto.name,jdbcType=VARCHAR} || '%'
      </if>
      <if test="dto.username != null and dto.username != ''">
        and username like '%' || #{dto.username,jdbcType=VARCHAR} || '%'
      </if>
    </where>
  </select>
</mapper>